<div class="container-fluid fill">
  <div class="row">

    <div class="col-sm-3 col-md-3 sidebar" >
      <h1>{{title}}</h1>
      <div class="pre-scrollable fill-80">
        <app-channel-list></app-channel-list>
      </div>
      <app-channel-form></app-channel-form>
    </div>
    <div class="col-md-6 card fill-90">
      <div class="fill-75 pre-scrollable">
        <router-outlet></router-outlet>
      </div>
      <!--
      <app-message-list class="fill-75 pre-scrollable"></app-message-list>
      <app-message-form class="fill-10"></app-message-form>
      -->
    </div>
  </div>
</div>
